.App-header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.header-Name {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  height: 70px;
  margin-top: 40px;
}

.header1 {
  color: rgb(37, 37, 173);
  font-size: 70px;
}

.header2 {
  color: rgb(63, 63, 250);
  font-size: 100px;
}

.header3 {
  color: rgb(37, 37, 173);
  font-size: 70px;
}

.description {
  display: flex;
  justify-content: center;
  font-size: 20px;
  margin-bottom: 60px;
}

.hotels {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.hotel-button {
  cursor: pointer;
  padding-left: 2px;
  width: 500px;
  height: 620px;
  font-size: 24px;
  margin: 20px;
}

.hotel-img {
  width: 400px;
  height: 400px;
  margin-top: 12px;
  object-fit: cover;
  border-radius: 6px;
}

.star {
  cursor: pointer;
  width: 22px;
}

.checked {
  color: rgb(230, 150, 2);
}

.Hotel-information {
  margin-top: 12px;
  font-size: 20px;
}